body {
    background-color: rgb(30, 29, 50);
}

.contenedor {
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    font-size: large;
}

.ahora {
  border-width: 2px;
  border-style: solid; /* Cambiar el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
  border-radius: 10px; /* Añadir esquinas redondeadas */
  height: 40px;
  width: 100%;
  margin: 2px; /* Espacio entre los divs */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dia {
  margin-top: 7px;
  margin-left: 5px;
}

.hora {
  flex: 0;
  margin-top: 7px;
  margin-right: 5px;
  
}

.temperatura {
    border-width: 2px;
    border-style: solid; /* Cambiar el estilo del borde a punteado */
    border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
    border-radius: 10px; /* Añadir esquinas redondeadas */
    height: 460px;
    width: 200px;
    margin: 2px; /* Espacio entre los divs */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  

.hoy {
    border-width: 2px;
    border-style: solid; /* Cambiar el estilo del borde a punteado */
    border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
    border-radius: 10px; /* Añadir esquinas redondeadas */
    height: 110px;
    width: 947px;
    margin: 5px; /* Espacio entre los divs */
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

.titulohoy {
  margin-top: 0px;
  max-height: 15px;
}

.maxmin {
    border-width: 2px;
    border-style: solid; /* Cambiar el estilo del borde a punteado */
    border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
    border-radius: 10px; /* Añadir esquinas redondeadas */
    height: 460px;
    width: 200px;
    max-width: 150px;
    margin: 5px; /* Espacio entre los divs */
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }


.max {
  border-width: 2px;
  border-style: solid; /* Cambiar el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
  border-radius: 10px; /* Añadir esquinas redondeadas */
  width: 90px;
  margin: 1px;
  height: 120px;
}

.min {
  border-width: 2px;
  border-style: solid; /* Cambiar el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
  border-radius: 10px; /* Añadir esquinas redondeadas */
  width: 90px;
  height: 120px;
}


h2 {
  font-size: 100px;
  margin-top: 1px;
}

.grados {
  font-size: 50px;
  margin-top: -10px;
}

.icon {
  margin-top: -120px;
  margin-left: 0px;
}

/* Temperaturas del dia */
.hora1 {
  border-width: 2px;
  border-style: solid; /* Cambiar el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
  border-radius: 10px; /* Añadir esquinas redondeadas */
  height: 50px;
  width: 10px;
  margin-top: 22px;
  margin-left: 40px;
  display: inline-block;
  font-size: 10px;
}
.hora2 {
  font-size: 10px;
  border-width: 2px;
  border-style: solid; /* Cambiar el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
  border-radius: 10px; /* Añadir esquinas redondeadas */
  height: 50px;
  width: 10px;
  margin-top: 22px;
  margin-left: 40px;
  display: inline-block;
}

/* CONTENEDOR TEMPERATURA */
.nombreCiudad {
  margin-top: -20px;
}
.tempActual {
  margin-top: -10px;
}
.estadoTiempo {
  margin-top: -40px;
}

/* CONTENEDOR HIGHLIGHTS */

.highlights {
  border-width: 2px;
  border-style: solid; /* Cambiar el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); /* Cambiar el color del borde a rojo */
  border-radius: 10px; /* Añadir esquinas redondeadas */
  height: 70px;
}
.iconEC {
  height: 35px;
  width: 35px;
  position: absolute;
  top: 50%; /* Ajustar la posición vertical de las imágenes */
  transform: translateY(-50%); /* Centrar verticalmente las imágenes */
}
.hl strong {
  margin-left: 40px;
}
.hl {
  position: relative; 
  text-align: left;
  font-size: 15px;
  border-width: 2px;
  border-style: solid; /* Se cambia el estilo del borde a punteado */
  border-color: rgba(60, 60, 60, 0.932); 
  border-radius: 10px; /* Añade esquinas redondeadas */
  width: 220px;
  height: 30px;
  display: inline-block;
}


/* MIN Y MAX */

.iconMM {
  height: 50px;
  width: 50px;
  margin-top: 0px;
}

